* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-color: #404040;
	font-family: arial;
	color: white;
}

.column {
	float: left;
	width: 33.33%;
	height: 100%;
	text-align: center;
}

#tetris-canvas {
	display: block;
	margin: auto;
	box-shadow: 0 0 5px #202020;
	height: 100%;
	background-color: #202020;
}

table.controls {
	margin: auto;
	width: 50%;
	text-align: center;
}

table.controls td {
	width: 50%;
}